* {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #2d2d2d;
}

.puzzle-piece {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(10, 235, 186);
    color: black;
    user-select: none;
    cursor: pointer;
}

.draggable {
    background-color: cornflowerblue;
}

.draggable-active {
    background-color: deepskyblue;
}

.dropzone {
    width: 100px;
    height: 100px;
    border: black 2px solid;            /*? Outline is another option */
    position: relative;
}

.droppable {
    background-color: lavenderblush;
}

.droppable-hovered {
    background-color: dimgray;
}

.puzzle-container {
    padding: 20px;
    margin: 100px;
    height: auto;
    width: auto;
    border: black 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(197, 184, 189);
}

.puzzle-piece-box {
    width: 100px;
    height: 100px;
    border: rgb(46, 53, 51) solid 4px;
    position: relative;
}

.puzzle-row {
    display: flex;
}

.big-border {
    border-radius: 50%;
}

.puzzle-solved {
    transition-property: border-width;
    transition-duration: 1s;
    border-width: 0;
}